body {
  margin-bottom: 60px;
  display: none;
}

@mixin jumbotron() {
  background-size: cover;
  height: 250px;
}

.jumbo_index {
  background: url('../images/mountains2.jpg');
  @include jumbotron();
}

.jumbo_portfolio {
  background: url("../images/papers.jpg");
  @include jumbotron();
  margin-bottom: 0;
}

.jumbo_about {
  background: url("../images/dude.jpg");
  background-position: 0 -250px;
  @include jumbotron();
}

.jumbo_cv {
  background: url("../images/mountains.jpg");
  background-position: 0 -250px;
  @include jumbotron();
}

.center_text {
  text-align: center;
}

.header_index {
  color: white;
  text-align: center;
  //display: inline-block;
}

.img_port {
  height: 50px;
  width: 50px;
  margin-top: 50px;
  text-align: center;
}

.index_small {
  height: 150px;
  border-radius: 10px;
}

.index_large {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.column_margin {
  margin-top: 80px;
}

.github {
  height: 50px;
  width: 50px;
}

.logo {
  text-align: center;
  margin-top: 60px;
}

.projects {
  margin: inherit;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

p {
  text-align: left;
}

.list_style {
  font-size: 19px;
}

.larger_paragraph {
  font-size: 16px;
}

.about_paragraph {
  font-size: 19px;
}

.nav_logo {
  height: 50px;
  width: 50px;
}

.footer_logo {
  height: 40px;
  width: 40px;
  margin-left: 5px;
}

.inline {
  display: inline-block;
}

.margin_bottom {
  margin-bottom: 30px;
}
