.jumbotron {
  background-color: #333;
}

.header_index {
  color: white;
  text-align: center;
  display: inline-block;
}

.bg-2 {
  background-color: #474e5d;
}

.img-circle {
  height: 150px;
  width: 160px;
}

.alfred_image {
  display: inline-block;
  margin-left: 200px;
}
