.jumbotron {
  background: url('../images/mountains2.jpg');
  background-size: cover;
  height: 250px;

}


.header_index {
  color: white;
  text-align: center;
  //display: inline-block;
}

.img-circle {
  height: 150px;
  width: 160px;
}

.alfred_image {
  display: inline-block;
  margin-left: 200px;
}

.index_small {
  height: 300px;
  width: 355px;
}
