.footer
  .row
  %p.inline reachingalfred@gmail.com
  %a{:href => "https://www.linkedin.com/in/alfred-johansson/", :target => "_blank"}
    %img.footer_logo{:alt => "Image", :src => "images/linkedin.png"}/
  %a{:href => "https://github.com/aljoh", :target => "_blank"}
    %img.footer_logo{:alt => "Image", :src => "images/github.png"}/
