.footer
   .row
   %p.inline reachingalfred@gmail.com
   %img.footer_logo{:alt => "Image", :src => "/images/linkedin.png"}/
   %img.footer_logo{:alt => "Image", :src => "/images/twitter.png"}/
   %img.footer_logo{:alt => "Image", :src => "/images/instagram.png"}/
