.container
  .jumbotron
    .header_index
      %h1 Hello
      %h3 I'm Alfred and I am a developer
    .alfred_image
      %img.img-circle{:alt => "Alfred", :src => "/images/Affe CV bild.jpg"}/
  .container-fluid.bg-3.text-center
  %h3 Where To Find Me?
  .row
    .col-sm-4
      %p Lorem ipsum..
      %img{:alt => "Image", :src => "birds1.jpg"}/
    .col-sm-4
      %p Lorem ipsum..
      %img{:alt => "Image", :src => "birds2.jpg"}/
    .col-sm-4
      %p Lorem ipsum..
      %img{:alt => "Image", :src => "birds3.jpg"}/
