.container
  .jumbotron.jumbo_index
    .header_index
      %h1 Hello
      %h3 I'm Alfred and I am a developer
    -#.alfred_image
      %img.img-circle{:alt => "Alfred", :src => "/images/Affe CV bild.jpg"}/
  .container-fluid.bg-3
  %h3.text-center Where To Find Me?
  .row.text-center
    .col-sm-4
      %p Lorem ipsum..
      %img.index_small{:alt => "Image", :src => "/images/mountains.jpg"}/
    .col-sm-4
      %p Lorem ipsum..
      %img.index_small{:alt => "Image", :src => "/images/pecker.jpg"}/
    .col-sm-4
      %p Lorem ipsum..
      %img.index_small{:alt => "Image", :src => "/images/work.jpg"}/
