.container
  .jumbotron
    .header_index
      %h1 This is my Work
  .row.text-center
    .col-sm-4
      %img.port_small.img-circle{:alt => "Image", :src => "/images/mountains.jpg"}/
      %p= "Fizzbuzz"
    .col-sm-4
      %img.port_small.img-circle{:alt => "Image", :src => "/images/pecker.jpg"}/
      %p Lorem ipsum..
    .col-sm-4
      %img.port_small.img-circle{:alt => "Image", :src => "/images/work.jpg"}/
      %p Lorem ipsum..
