.container.cont_portfolio
  .jumbotron.jumbo_portfolio
  %h1.center_text Projects
  .row.text-center
    .col-sm-4.first_work
      %img.port_small.img-circle{:alt => "Image", :src => "/images/mountains.jpg"}/
      %p= "Fizzbuzz"
    .col-sm-4.second_work
      %img.port_small.img-circle{:alt => "Image", :src => "/images/pecker.jpg"}/
      %p BMI-Challenge
    .col-sm-4.third_work
      %img.port_small.img-circle{:alt => "Image", :src => "/images/work.jpg"}/
      %p Cooper-Challenge
  .fizzbuzz
    %h2 Fizz Buzz
    %p This Project bacon ipsum bacon ham bacon bacon
