.container
  .jumbotron.jumbo_portfolio
  %h1.center_text Projects
  .row.text-center
    .col-sm-4.columns
      %h3 Fizzbuzz
      %p= -data.projects[:fizzbuzz]
    .col-sm-4.columns
      %h3 Cooper Test
      %p= -data.projects[:cooper]
    .col-sm-4.columns
      %h3 BMI Calculator
      %p= -data.projects[:bmi]
  .row.text-center
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/ruby.png"}/
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/rspec.png"}/
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/Javascript-shield.png"}/
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/jasmine.png"}/
