.container
  .jumbotron.jumbo_portfolio
    %h1.center_text Projects
  .row.text-center.larger_paragraph
    .col-sm-4.columns
      .card
        %img.port_small.img_port{:alt => "Image", :src => "/images/ionic.png"}/
        %img.port_small.img_port{:alt => "Image", :src => "/images/rails.png"}/
        %img.port_small.img_port{:alt => "Image", :src => "/images/rspec.png"}/
        %h3 Gather Your Thoughts
        %p= -data.projects[:gather]
        %a{:href=> "https://github.com/CraftAcademy/gather-your-thoughts-frontend", :target => "_blank"} Ionic Repo
        %br
        %a{:href=> "https://github.com/CraftAcademy/gather-your-thoughts-backend", :target => "_blank"} Rails Repo
    .col-sm-4.columns
      .card
        %img.port_small.img_port{:alt => "Image", :src => "/images/rails.png"}/
        %img.port_small.img_port{:alt => "Image", :src => "/images/rspec.png"}/
        %img.port_small.img_port{:alt => "Image", :src => "/images/cucumber.png"}/
        %h3 Slowfood
        %p= -data.projects[:slowfood]
        %a{:href=> "https://github.com/CraftAcademy/food_4_u", :target => "_blank"} Kitchen To Couch Repo
        %br
        %a{:href=> "https://github.com/CraftAcademy/jak-sie-masz-slowfood", :target => "_blank"} Dishley Repo

    .col-sm-4.columns
      .card
        %img.port_small.img_port{:alt => "Image", :src => "/images/rails.png"}/
        %img.port_small.img_port{:alt => "Image", :src => "/images/rspec.png"}/
        %img.port_small.img_port{:alt => "Image", :src => "/images/cucumber.png"}/
        %h3 iStory
        %p= -data.projects[:istory]
        %a{:href=> "https://github.com/CraftAcademy/istory", :target => "_blank"} Repo
.logo
  .h4 Find all my projects on my Github Page
  %a{:href => "https://github.com/aljoh", :target => "_blank"}
    %img.github{:alt => "Image", :src => "images/github.png"}/

  -#.row.text-center
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/ruby.png"}/
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/rspec.png"}/
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/Javascript-shield.png"}/
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/jasmine.png"}/
