.container.cont_portfolio
  .jumbotron.jumbo_portfolio.header_index
    %h1 Projects
  .row.text-center
    .col-sm-4.first_work
      %img.port_small.img-circle{:alt => "Image", :src => "/images/mountains.jpg"}/
      %p Fizz
      %button Fizzbuzz
    .col-sm-4.second_work
      %img.port_small.img-circle{:alt => "Image", :src => "/images/pecker.jpg"}/
      %p BMI-Challenge
    .col-sm-4.third_work
      %img.port_small.img-circle{:alt => "Image", :src => "/images/work.jpg"}/
      %p Cooper-Challenge
  .fizzbuzz
    %h1 Fizz Fizz
    %p Lorem ipsum bacon bacon ham meat
