.container
  .jumbotron.jumbo_portfolio
    %h1.center_text Projects
  .row.text-center.projects.larger_paragraph
    .col-sm-4.columns
      %img.port_small.img_port{:alt => "Image", :src => "/images/ionic.png"}/
      %img.port_small.img_port{:alt => "Image", :src => "/images/rails.png"}/
      %img.port_small.img_port{:alt => "Image", :src => "/images/rspec.png"}/
      %h3 Gather Your Thoughts
      %p= -data.projects[:cooper]
    .col-sm-4.columns
      %img.port_small.img_port{:alt => "Image", :src => "/images/rails.png"}/
      %img.port_small.img_port{:alt => "Image", :src => "/images/rspec.png"}/
      %img.port_small.img_port{:alt => "Image", :src => "/images/cucumber.png"}/
      %h3 Slowfood
      %p= -data.projects[:atm]
    .col-sm-4.columns
      %img.port_small.img_port{:alt => "Image", :src => "/images/rails.png"}/
      %img.port_small.img_port{:alt => "Image", :src => "/images/rspec.png"}/
      %img.port_small.img_port{:alt => "Image", :src => "/images/cucumber.png"}/
      %h3 iStory
      %p= -data.projects[:bmi]
.logo
  .h4 Find all my projects and READMEs on my Github Page
  %a{:href => "https://github.com/aljoh", :target => "_blank"}
    %img.github{:alt => "Image", :src => "images/github.png"}/

  -#.row.text-center
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/ruby.png"}/
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/rspec.png"}/
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/Javascript-shield.png"}/
    .col-sm-3
      %img.port_small.img_port{:alt => "Image", :src => "/images/jasmine.png"}/
